# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xoxjgmstlrxfczvztyaf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhveGpnbXN0bHJ4ZmN6dnp0eWFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMjMzNDIsImV4cCI6MjEwNjU5OTM0Mn0.L25EuKSy0IprZtPJ9o3UoedJEKTZerOoTYtMqJfM7B4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhveGpnbXN0bHJ4ZmN6dnp0eWFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTAyMzM0MiwiZXhwIjoyMTA2NTk5MzQyfQ.IQr2RMhiwUGQKMLTg6FioyDtgsQ3e2S7Y_wxnq0T2j8

